{% extends '/layout.html' %}

{% block body%}


{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong><p>{{ message }}</p></strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="row">
    <div class="col-md-5">
        <form action="/add_contact", method="post">
            <input type="text" name="nombre_apellido" placeholder="Nombre & Apellido">
            <input type="text" name="email" placeholder="E-mail">
            <input type="text" name="telefono" placeholder="Telefono">
            <button type="submit">Enviar</button>
        </form>
    </div>


    <div class="col-md-7">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <td>Nombre & Apellido</td>
                    <td>E-mail</td>
                    <td>Telefono</td>
                    <td>Operación</td>
                </tr>
            </thead>
            <tbody>
                {% for contact in contactos %}
                <tr>
                    <td>{{ contact.1 }}</td>
                    <td>{{ contact.2 }}</td>
                    <td>{{ contact.3 }}</td>
                    <td>
                        <a href="/get-contanto/{{contact.0}}">Editar</a>
                        <a href="/delete/{{contact.0}}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>




{% endblock %}